<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/pokemon"method=POST> 
        <input name='name'placeholder='name' type='text'/>
        <input name='type'placeholder='type' type='text'/>
        <input name='hp'placeholder='hp' type='number'/>
        <input name='attack'placeholder='Attack' type='number'/>
        <input name='defense'placeholder='Defense' type='number'/>
        <input name='img'placeholder='image' type='text'/>
        <input value='submit' type='submit'/>
    
    </form>
</body>
</html>